<h1>index {{index}}</h1>
<h1>adsense_nth_post_code {{siteSettings.adsense_nth_post_code}}</h1>
{{#if model.postSpecificCountAdsense}}
{{#if siteSettings.adsense_post_bottom_code}}
  {{google-adsense placement="post-bottom" postNumber=model.post_number}}
{{/if}}
{{/if}}